# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
data/processed/*.json
*.csv
*.json

# IDEs
.vscode/
.idea/

# Reports
reports/figures/*.png
reports/figures/*.txt
